<%- include("./partials/head") %>

<main>
    <ul class="message-list">
        <% for (const message of messages) { %>
        <li>
            <div class="content">
                <span class="author"><%= message.user %></span>:
                <span class="message"><%= message.text %></span>
            </div>
            <div class="info">
                <p><%= message.added %></p>
                <a href="/message/<%= message.id %>">details</a>
            </div>
        </li>
        <% } %>
    </ul>
</main>

<%- include("./partials/footer") %>
