<ul class="pageNavigation">
    <% if (page.current > 1) { %>
    <li>
        <a class="button"
           href="?page=<%= page.current - 1%>">
            &lt; Prev
        </a>
    </li>
    <% } else { %>
    <li class="disabled">&lt; Prev</li>
    <% } %>

    <% for (let i = 1; i <= page.total; i++) { %>
    <li><a href="?page=<%= i %>"
           class="number <%= page.current === i ? 'active' : ''%>"><%= i %></a></li>
    <% } %>

    <% if (page.current < page.total) { %>
    <li>
        <a class="button"
           href="?page=<%= page.current + 1%>">
            Next &gt;
        </a>
    </li>
    <% } else { %>
    <li class="disabled">Next &gt;</li>
    <% } %>
</ul>
