extends partials/layout
include icons/delete

block content
  script(src="/index.js", defer)

  section#fileDetails
    p 
      span Name:
      |  #{file.filename}
    p 
      span File size: 
      |  #{file.size}
    p 
      span Created: 
      |  #{file.created}
    p 
      span: a(href=file.location) Download
    .buttons
      button.deleteBtn(data-id=file.id, data-type="file")
        +svg-delete
        | Delete file
