extends partials/layout
include icons/delete

block content
  script(src="/index.js", defer)

  
  #filesHeader
    div.name 
      if file.folder
        p: a(href=`/folder/${file.folder.id}`) Go back to #{file.folder.name}
      else 
        p: a(href=`/folder`) Go back Home

  section#fileDetails
    p 
      span Name:
      |  #{file.filename}
    p 
      span File size: 
      |  #{file.size}
    p 
      span Created: 
      |  #{file.created}
    p 
      span: a(href=`/file/${file.id}/download`) Download
    .buttons
      button.deleteBtn(data-id=file.id, data-type="file")
        +svg-delete
        | Delete file
