extends partials/layout

block content
  script(src="/index.js", defer)

  p Name: #{file.filename}
  p File size: #{file.size}
  p Created: #{file.created}
  p: a(href=file.location) Download
  button.deleteBtn(data-id=file.id, data-type="file") Delete file
