extends partials/layout
include icons/folder
include icons/file
include icons/delete
include icons/pencil
include icons/folder-plus
include icons/upload

block content
  script(src="/index.js", defer)

  #filesHeader
    if folder.id
      h1= folder.name
    #folderButtons.buttons
      button#createFolderBtn(title="Create folder")
        +svg-folder-plus
      button#uploadBtn(title="Upload file")
        +svg-upload

  #files
    .row 
      p Name 
      p Created 
      p Size 
      p Actions
    if folders.length > 0
      each folder in folders 
        .folderRow.row
          a(href=`/folder/${folder.id}`)
            +svg-folder 
            span= folder.name
          p= folder.created
          p --
          .buttons
            button.deleteBtn(data-id=folder.id, data-type="folder", title="Delete")
              +svg-delete
            button.editFolderBtn(data-id=folder.id, data-name=folder.name, title="Edit")
              +svg-pencil
    if files.length > 0
      each file in files 
        .fileRow.row 
          a(href=`/file/${file.id}`)
            +svg-file
            span= file.filename
          p= file.created
          p= file.size

  dialog#newFolderForm: include partials/folderForm
  dialog#uploadFileForm: include partials/fileForm
  dialog#editFolderForm: include partials/folderEditForm
