extends partials/layout
include icons/folder
include icons/file
include icons/delete
include icons/pencil
include icons/folder-plus
include icons/upload

block content
  script(src="/index.js", defer)

  #filesHeader
    div.name 
      if folder.id
        h1= folder.name
        if folder.parent 
          p: a(href=`/folder/${folder.parent.id}`) Go back to #{folder.parent.name}
        else 
          p: a(href=`/folder`) Go back Home
    #folderButtons.buttons
      button#createFolderBtn()
        +svg-folder-plus
        | New folder
      button#uploadBtn()
        +svg-upload
        | Upload

  #files
    .row 
      p Name 
      p Created 
      p Size 
      p Actions
    if folders.length > 0
      each folder in folders 
        .folderRow.row
          a(href=`/folder/${folder.id}`)
            +svg-folder 
            span= folder.name
          p= folder.created
          p --
          .buttons
            button.deleteBtn(data-id=folder.id, data-type="folder", title="Delete")
              +svg-delete
            button.editFolderBtn(data-id=folder.id, data-name=folder.name, title="Edit")
              +svg-pencil
    if files.length > 0
      each file in files 
        .fileRow.row 
          a(href=`/file/${file.id}`)
            +svg-file
            span= file.filename
          p= file.created
          p= file.size

  dialog#newFolderForm: include partials/folderForm
  dialog#uploadFileForm: include partials/fileForm
  dialog#editFolderForm: include partials/folderEditForm

  if errors.length
    .alert 
      div 
        each error in errors 
          p= error
      span.closeBtn(onclick="this.parentElement.style.display='none';") &times;
