extends partials/layout

block content
  script(src="/index.js", defer)
  button#createFolderBtn create folder
  button#uploadBtn upload file
  
  if folder.id
    h1= folder.name
  if folders.length === 0
    h2 There are no Folders
  else
    ul 
      each folder in folders 
        li
          a(href=`/folder/${folder.id}`)= folder.name
          button.deleteBtn(data-id=folder.id, data-type="folder") Delete
          button.editFolderBtn(data-id=folder.id, data-name=folder.name) Edit folder

  if files.length === 0
    h2 There are no files
  else
    ul 
      each file in files 
        li: a(href=`/file/${file.id}`)= file.filename

  dialog#newFolderForm: include partials/folderForm
  dialog#uploadFileForm: include partials/fileForm
  dialog#editFolderForm: include partials/folderEditForm
