<%- include("./partials/head") %>

<main>
    <h1><%= title %></h1>

    <% if (authors.length === 0) { %>
    <p>There are no authors! Add a new book to create an author.</p>
    <% } %>

    <ul class="authorList">
        <% for (const author of authors) { %>
        <li class="author">
            <a href="/authors/<%= author.id %>">
                <p><%= author.author %></p>
            </a>
            <p>Books: <%= author.books %></p>
        </li>
        <% } %>
    </ul>
</main>

<%- include("./partials/footer") %>
