<%- include("./partials/head") %>

<main>
    <h1><%= author[0].author %></h1>

    <div class="authorButtons">
        <button id="deleteBtn"
                data-id="<%= author[0].author_id %>"
                type="button">Delete author</button>
        <button id="editBtn"
                data-id="<%= author[0].author_id %>"
                type="button">Change author's name</button>
    </div>

    <h2>Books: <%= author.length %></h2>
    <ul class="authorBooks">
        <% for (const book of author) { %>
        <li>
            <div class="bookCover">
                <a href="/books/<%= book.book_id %>">
                    <img src="<%= book.cover_l %>"
                         alt="Cover for <%= book.title %>">
                </a>
            </div>
            <div class="info">
                <p>
                    <a href="/books/<%= book.book_id %>">
                        <%= book.title %>
                    </a>
                </p>
                <p>Year: <%= book.year %></p>
                <p>Rating: <%= book.rating %></p>
            </div>
        </li>
        <% } %>
    </ul>
</main>

<script>
    const deleteBtn = document.getElementById("deleteBtn")
    addDeleteFunction(deleteBtn, "author", () => location.replace("/books"), "This action will remove all books related to this author.")

    const editBtn = document.getElementById("editBtn")
    const id = editBtn.dataset.id;
    editBtn.addEventListener("click", async () => {
        const newName = prompt("Write a new name for this author:", "<%= author[0].author %>")
        const res = await fetch(`/authors/${id}`, {
            method: "POST",
            body: JSON.stringify({author: newName}),
            headers: {"Content-Type": "application/json"},
        });

        if (res.ok) location.reload()
        else {
            const info = await res.json()
            const errors = info.errors.map(error => error.msg).join("\n")
            alert(`Failed to edit author.\n` + errors);
        }
    });
</script>

<%- include("./partials/footer") %>
