<%- include("./partials/head") %>

<main>
    <p>Genres:</p>
    <ul>
        <% for (const genre of genres) { %>
        <li><a href="/books?genre=<%= genre.genre %>"><%= genre.genre %></a></li>
        <% } %>
        <li><a href="/books?genre=Other">Other</a></li>
    </ul>

    <h1><%= title %></h1>
    <div class="bookGrid">
        <div class="gridHeader bookRow">
            <div></div>
            <p>Title</p>
            <p>Author</p>
            <p>Year</p>
            <p>Pages</p>
            <p>Rating</p>
        </div>
        <% if (books.length) { %>
        <% for (const book of books) { %>
        <div class="bookRow">
            <a href="/books/<%= book.id %>"
               class="bookCover">
                <img src="<%= book.cover_s %>" />
            </a>
            <a href="/books/<%= book.id %>"><%= book.title %></a>
            <a href="/authors/<%= book.author_id %>"><%= book.author %></a>
            <p><%= book.year %></p>
            <p><%= book.pages %></p>
            <p><%= book.rating %></p>
        </div>
        <% } %>
        <%- include("./partials/pageNavigation") %>

        <% } else if (locals.isMain) { %>
        <p>There are no books. Add the first one <a href="/books/create">here!</a></p>
        <% } else { %>
        <p>There are no books for this genre.</p>
        <% } %>
    </div>
</main>

<%- include("./partials/footer") %>
