<%- include("./partials/head") %>

<main>
    <img src="<%= book.cover_l %>"
         alt="Cover for <%= book.title %>">
    <a href="/books/<%= book.id %>/edit">Edit</a>
    <button id="deleteBtn"
            data-id="<%= book.id %>">Delete</button>
    <ul>
        <li>Title: <%= book.title %></li>
        <li>Author: <a href="
       /authors/<%= book.author[1] %>"><%= book.author[0] %></a></li>
        <li>Rating: <%= book.rating %></li>
        <li>Description: <%= book.description %>
        </li>
        <li>Genres:
            <% for (const genre of book.genres) { %>
            <a href="/books/?genre=<%= genre[0] %>"><%= genre[0] %></a>
            <% } %>
        </li>
        <li>Pages: <%= book.pages %></li>
        <li>First published year: <%= book.year %>
        </li>
    </ul>
</main>

<script>
    const deleteBtn = document.getElementById("deleteBtn")
    addDeleteFunction(deleteBtn, "book", () => location.replace("/books"),
        "If this is the last book of an author they'll be removed.") 
</script>

<%- include("./partials/footer") %>
