<%- include("./partials/head") %>

<main>
    <h1><%= title %></h1>

    <form method="get"
          id="booksFilter">
        <div>
            <label for="orderBy">Sort by:</label>
            <select name="orderBy"
                    id="orderBy">
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="year">Year</option>
                <option value="pages">Pages</option>
                <option value="rating">Rating</option>
            </select>
        </div>
        <div>
            <label for="filter">Filter by genre:</label>
            <select name="genre"
                    id="filter">
                <option value="">All genres</option>
                <% for (const genre of genres) { %>
                <option value="<%= genre.genre %>"><%= genre.genre %></option>
                <% } %>
                <option value="Other">Other</option>
            </select>
        </div>
        <div>
            <label for="order">Order</label>
            <select name="order"
                    id="order">
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
        </div>
        <button type="submit">Search</button>
    </form>

    <div class="bookGrid">
        <div class="gridHeader bookRow">
            <div></div>
            <p>Title</p>
            <p>Author</p>
            <p>Year</p>
            <p>Pages</p>
            <p>Rating</p>
        </div>
        <% if (books.length) { %>
        <% for (const book of books) { %>
        <div class="bookRow">
            <a href="/books/<%= book.id %>"
               class="bookCover">
                <img src="<%= book.cover_s %>" />
            </a>
            <a href="/books/<%= book.id %>"><%= book.title %></a>
            <a href="/authors/<%= book.author_id %>"><%= book.author %></a>
            <p><%= book.year %></p>
            <p><%= book.pages %></p>
            <p><%= book.rating %></p>
        </div>
        <% } %>
        <%- include("./partials/pageNavigation") %>

        <% } else if (locals.isMain) { %>
        <p>There are no books. Add the first one <a href="/books/create">here!</a></p>
        <% } else { %>
        <p>There are no books for this genre.</p>
        <% } %>
    </div>
</main>

<script>
    document.querySelectorAll(".pageNavigation a").forEach(a => {
        const url = new URL(a.href);
        const params = new URLSearchParams(window.location.search);
        for (const [key, value] of params) {
            if (key === "page") continue;
            url.searchParams.set(key, value);
        }
        a.href = url.toString();
    })
</script>
<%- include("./partials/footer") %>
