<%- include("./partials/head") %>

<main>
    <p>Genres:</p>
    <ul>
        <% for (const genre of genres) { %>
        <li><a href="/books?genre=<%= genre.genre %>"><%= genre.genre %></a></li>
        <% } %>
        <li><a href="/books?genre=Other">Other</a></li>
    </ul>

    <h1><%= title %></h1>
    <div class="bookGrid">
        <% if (books.length) { %>
        <% for (const book of books) { %>
        <div class="book">
            <a href="/books/<%= book.id %>">
                <img style="background-image: url(<%= book.cover_s %>)"
                     src="<%= book.cover_l %>" />
                <p><%= book.title %></p>
            </a>
            <p><%= book.author %></p>
        </div>
        <% } %>
        <%- include("./partials/pageNavigation") %>

        <% } else if (locals.isMain) { %>
        <p>There are no books. Add the first one <a href="/books/create">here!</a></p>
        <% } else { %>
        <p>There are no books for this genre.</p>
        <% } %>
    </div>
</main>

<%- include("./partials/footer") %>
