<%- include("./partials/head") %>

<main>
    <ol>
        <% for (const genre of genres) { %>
        <li>
            <form action="/genres/<%= genre.id %>"
                  method="post">
                <input name="genre"
                       type="text"
                       value="<%= genre.genre %>">
                <button type="submit">Save</button>
                <button class="deleteBtn"
                        data-id="<%= genre.id %>"
                        type="button">Delete</button>
            </form>
        </li>
        <% } %>
    </ol>
    <form action="/genres"
          method="post">
        <input name="genre"
               type="text">
        <button type="submit">Add new genre</button>
    </form>
</main>

<script>
    document.querySelectorAll(".deleteBtn").forEach((btn) => {
        addDeleteFunction(btn, "genre", () => location.reload())
    })
</script>

<%- include("./partials/footer") %>
