<%- include("./partials/head") %>

<main>
    <ol>
        <% for (const genre of genres) { %>
        <li>
            <form action="/genres/<%= genre.id %>"
                  method="post">
                <input name="genre"
                       type="text"
                       value="<%= genre.genre %>">
                <button type="submit">Save</button>
                <button class="deleteBtn"
                        data-id="<%= genre.id %>"
                        type="button">Delete</button>
            </form>
        </li>
        <% } %>
    </ol>
    <form action="/genres"
          method="post">
        <input name="genre"
               type="text">
        <button type="submit">Add new genre</button>
    </form>
</main>

<script>
    document.querySelectorAll(".deleteBtn").forEach((btn) => {
        const id = btn.dataset.id;
        btn.addEventListener("click", async () => {
            if (confirm("Are you sure you want to delete this genre? This action cannot be undone.")) {
                const api = `/genres/${id}`;
                const res = await fetch(api, {method: "DELETE"})
                if (res.ok) {
                    location.reload()
                } else {
                    alert("Failed to delete genre.")
                }
            }
        })
    })
</script>

<%- include("./partials/footer") %>
